<a href="https://colab.research.google.com/drive/1wWEtaMKYr4xEhSA16cHXoNakIwNliabU?usp=sharing">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This tutorial needs data so if you working on colab follow the below data setup instruction

# Data Setup Instructions

These are the instructions for mounting the data from google drive to colab and accessing it in the colab.

STEP 1 - After opening the tutorial in  your colab, go to folder button and click on mount google drive

STEP 2 - drive folder will be mounted in the current directory of /content, you can access it as below

In [ ]:
# print current directory
%pwd

'/content'

In [ ]:
%ls

sample_data/

STEP 3 - Find your data folder where you saved the data and sym link it to /content folder so as to simplify data access

In the current case the Data folder is located at this path in google drive (Use your own data path in your case)

/content/drive/Othercomputers/My MacBook Pro/Data/

We can sym link it to /content folder using the following command

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# sym linked the original data folder to new location at /content
!ln -s "/content/drive/MyDrive/Data" "/content"

Now we can access the data from this folder by simply giving the file path name after /Data

# **Install jupyter-dash and dash library**

In [ ]:
# install dash and jupyter dash
!pip install jupyter-dash
!pip install dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Collecting retrying
  Downloading retrying-1.3.3.tar.gz (10 kB)
Collecting nest-asyncio
  Downloading nest_asyncio-1.5.5-py3-none-any.whl (5.2 kB)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (5.3.4)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.1.4)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (7.9.0)
Collecting ansi2html
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Collecting dash
  Downloading dash-2.6.1-py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 11.8 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from ansi2html->jupyter-dash) (4.12.0)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting flask-compress
  Downloading Flask_Compress-1.12-py3-none-any.whl (7.9 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (5.5.0)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (1.15.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357 kB)
     |████████████████████████████████| 357 kB 78.4 MB/s
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (3.8.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 49.4 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (2.0.10)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (23.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (4.11.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2.10)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11447 sha256=a975176b5ac786a2ea0bae785ea1a6dd5a50a00ca6128254d4789d6f122f5fb6
  Stored in directory: /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: jedi, brotli, flask-compress, dash-table, dash-html-components, dash-core-components, retrying, nest-asyncio, dash, ansi2html, jupyter-dash
Successfully installed ansi2html-1.8.0 brotli-1.0.9 dash-2.6.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.12 jedi-0.18.1 jupyter-dash-0.4.2 nest-asyncio-1.5.5 retrying-1.3.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dash in /usr/local/lib/python3.7/dist-packages (2.6.1)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (5.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (2.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (2.0.0)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.7/dist-packages (from dash) (1.12)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (5.5.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (1.15.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from flask-compress->dash) (1.0.9)

# **Questions**

In [ ]:
# import the libraries
import pandas as pd
from jupyter_dash import JupyterDash
#import dash_html_components as html
from dash import html
#import dash_core_components as dcc
from dash import dcc
from dash.dependencies import Input, Output
import pandas as pd
import plotly.express as px

Load the initial imdb_movies_saved.csv file that we had created in Pandas Data Saving lesson in a dataframe. This file contains the complete IMDB dataset.

Clean the worldwide_gross_income column and convert it into numerical column.

Find the top 10 directors with average imdb_score for their movies greater than 7.5.

Find the top 10 actor with average imdb_score for their movies greater than 7.5

Create one dashboard where we can select these top 10 directors from a dropdown and plot the scatter plot of imdb_score and worldwide_gross_income of their movies based on the director selection.


Create another dashboard where we can select these top 10 actors from a dropdown and plot the scatter plot of imdb_score and worldwide_gross_income of their movies based on the actor selection.

In [ ]:
imdb_movies = pd.read_csv('/content/Data/IMDb movies (1).csv')
print(imdb_movies.shape)
imdb_movies.head()

(85855, 22)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [ ]:
imdb_movies.drop(['title','reviews_from_users','reviews_from_critics','writer','production_company','description','usa_gross_income','metascore'],axis=1,inplace=True)
imdb_movies.rename({'worlwide_gross_income':'worldwide_gross_income','avg_vote':'imdb_score'},axis=1,inplace=True)
imdb_movies['imdb_title_id'].nunique()

85855

In [ ]:
imdb_movies.head()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,actors,imdb_score,votes,budget,worldwide_gross_income
0,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,154,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,589,$ 2250,NaN
2,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,188,NaN,NaN
3,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,446,$ 45000,NaN
4,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan","Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,2237,NaN,NaN

In [ ]:
imdb_movies.isnull().sum(axis=0)

imdb_title_id                 0
original_title                0
year                          0
date_published                0
genre                         0
duration                      0
country                      64
language                    833
director                     87
actors                       69
imdb_score                    0
votes                         0
budget                    62145
worldwide_gross_income    54839
dtype: int64

In [ ]:
imdb_movies_cleaned = imdb_movies.loc[imdb_movies['worldwide_gross_income'].notnull()].copy()

In [ ]:
imdb_movies_cleaned['year'] = imdb_movies_cleaned['year'].astype(int)

In [ ]:
imdb_movies_cleaned_income =  imdb_movies_cleaned.loc[\
                                imdb_movies_cleaned['worldwide_gross_income'].str.startswith('$')].copy()

In [ ]:
def remove_dollar_sign(gross_income):
    return gross_income.replace('$','')
imdb_movies_cleaned_income['worldwide_gross_income_numbered'] = imdb_movies_cleaned_income.apply(lambda \
                                                    row: remove_dollar_sign(row['worldwide_gross_income']),axis=1)
imdb_movies_cleaned_income['worldwide_gross_income_numbered'] = imdb_movies_cleaned_income[\
                                                              'worldwide_gross_income_numbered'].astype(float)
imdb_movies_cleaned_income.drop(['worldwide_gross_income'],axis=1,inplace=True)
imdb_movies_cleaned_income.rename({'worldwide_gross_income_numbered':'worldwide_gross_income'},axis=1,inplace=True)
imdb_movies_cleaned_income['worldwide_gross_income'] = imdb_movies_cleaned_income['worldwide_gross_income']/1000000

In [ ]:
imdb_movies_cleaned_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30955 entries, 79 to 85854
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_title_id           30955 non-null  object
 1   original_title          30955 non-null  object
 2   year                    30955 non-null  int64
 3   date_published          30955 non-null  object
 4   genre                   30955 non-null  object
 5   duration                30955 non-null  int64
 6   country                 30940 non-null  object
 7   language                30801 non-null  object
 8   director                30935 non-null  object
 9   actors                  30931 non-null  object
 10  imdb_score              30955 non-null  float64
 11  votes                   30955 non-null  int64
 12  budget                  12762 non-null  object
 13  worldwide_gross_income  30955 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 3.5+ MB

In [ ]:
imdb_movies_cleaned_income.tail()

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,actors,imdb_score,votes,budget,worldwide_gross_income
85847,tt9905412,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...",7.4,494,INR 4000000,0.004791
85850,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",5.3,398,NaN,3.507171
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Herman Finkers, Johanna ter Steege, Leonie ter...",7.7,724,NaN,7.299062
85853,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",6.4,194,NaN,0.002833
85854,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Maria Morera Colomer, Biel Rossell Pelfort, Is...",6.7,102,NaN,0.059794

In [ ]:
imdb_movies_cleaned_income.isnull().sum()

imdb_title_id                 0
original_title                0
year                          0
date_published                0
genre                         0
duration                      0
country                      15
language                    154
director                     20
actors                       24
imdb_score                    0
votes                         0
budget                    18193
worldwide_gross_income        0
dtype: int64

In [ ]:
imdb_movies_cleaned_income['director'] = imdb_movies_cleaned_income['director'].fillna('No Director')
imdb_movies_cleaned_income['actors'] = imdb_movies_cleaned_income['actors'].fillna('No Actor')

In [ ]:
imdb_movies_cleaned_income.columns

Index(['imdb_title_id', 'original_title', 'year', 'date_published', 'genre',
       'duration', 'country', 'language', 'director', 'actors', 'imdb_score',
       'votes', 'budget', 'worldwide_gross_income', 'director_list'],
      dtype='object')

#Top 10 directors with most number of movies

In [ ]:
def convert_col_list(col):
  split_col = col.split(',')
  remove_spaces_col_list = [x.strip() for x in split_col]
  return remove_spaces_col_list

In [ ]:
imdb_movies_cleaned_income['director_list'] = imdb_movies_cleaned_income.apply(lambda row:convert_col_list(row['director']),axis=1)
imdb_movies_cleaned_income_explode_director = imdb_movies_cleaned_income.explode('director_list')

In [ ]:
movies_director = imdb_movies_cleaned_income_explode_director.groupby('director_list')['imdb_title_id'].agg('count').rename('no_of_movies').reset_index()
movies_director.sort_values(by='no_of_movies',ascending=False,inplace=True)
movies_director

                  director_list  no_of_movies
14996               Woody Allen            47
2687             Clint Eastwood            38
6653                  Jing Wong            36
13783             Takashi Miike            33
13523          Steven Spielberg            31
...                         ...           ...
6420           Jeffrey Grellman             1
6421           Jeffrey Hornaday             1
6422             Jeffrey Kramer             1
6426             Jeffrey Porter             1
15456  Þórhildur Þorleifsdóttir             1

[15457 rows x 2 columns]

In [ ]:
movies_director[:10]

              director_list  no_of_movies
14996           Woody Allen            47
2687         Clint Eastwood            38
6653              Jing Wong            36
13783         Takashi Miike            33
13523      Steven Spielberg            31
13522     Steven Soderbergh            27
9781   Michael Winterbottom            25
9257        Martin Scorsese            25
6989             Johnnie To            25
11967          Ridley Scott            24

In [ ]:
directors =

#Top 10 actor with most number of movies

In [ ]:
imdb_movies_cleaned_income['actors_list'] = imdb_movies_cleaned_income.apply(lambda row:convert_col_list(row['actors']),axis=1)
imdb_movies_cleaned_income_explode_actor = imdb_movies_cleaned_income.explode('actors_list')

In [ ]:

grouped_df = imdb_movies_cleaned_income_explode_actor.groupby('actors_list')
movies_actor = grouped_df['imdb_title_id'].agg('count').rename('no_of_movies').reset_index()
movies_actor.sort_values(by='no_of_movies',ascending=False,inplace=True)

In [ ]:
movies_actor[:10]

              actors_list  no_of_movies
155857  Samuel L. Jackson            97
64972    Gérard Depardieu            96
167497           Suet Lam            83
131523       Nicolas Cage            83
149494     Robert De Niro            83
14368         Anupam Kher            82
129049             Nassar            79
24859        Bruce Willis            78
8382     Amitabh Bachchan            75
183103       Willem Dafoe            75

In [ ]:
imdb_movies_cleaned_income_explode_actor[imdb_movies_cleaned_income_explode_actor['actors_list'].str.contains('Roy Montez',na=False)]

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,actors,imdb_score,votes,budget,worldwide_gross_income,director_list,actors_list
79258,tt5980638,The Transcendents,2018,2020-06-19,"Music, Mystery, Thriller",96,USA,English,Derek Ahonen,"Rob Franco, Savannah Welch, Kathy Valentine, W...",9.2,1450,$ 90000,0.00109,[Derek Ahonen],Roy Montez

In [ ]:
actors = list(movies_actor[:10]['actors_list'])+ ['All Top 10 Actors']
actors

['Samuel L. Jackson',
 'Gérard Depardieu',
 'Suet Lam',
 'Nicolas Cage',
 'Robert De Niro',
 'Anupam Kher',
 'Nassar',
 'Bruce Willis',
 'Amitabh Bachchan',
 'Willem Dafoe',
 'All Top 10 Actors']

In [ ]:
directors = list(movies_director[:10]['director_list'])+ ['All Top 10 Directors']
directors

['Woody Allen',
 'Clint Eastwood',
 'Jing Wong',
 'Takashi Miike',
 'Steven Spielberg',
 'Steven Soderbergh',
 'Michael Winterbottom',
 'Martin Scorsese',
 'Johnnie To',
 'Ridley Scott',
 'All Top 10 Directors']

Create one dashboard where we can select these top 10 directors from a dropdown and plot the scatter plot of imdb_score and worldwide_gross_income of their movies based on the director selection.

In [ ]:
imdb_movies_cleaned_income_explode_director[imdb_movies_cleaned_income_explode_director['director'].str.contains('Yaël Farber',na=False)]

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,actors,imdb_score,votes,budget,worldwide_gross_income,director_list
73869,tt4156348,The Crucible,2014,2014-12-04,Drama,190,UK,English,Yaël Farber,"Richard Armitage, Harry Attwell, Samantha Coll...",8.9,402,NaN,0.540754,Yaël Farber

In [ ]:
def update_graph(director):    
    if director == 'All Top 10 Directors':
      director_select = ''
    else:
      director_select = director
    
    filtered_final = imdb_movies_cleaned_income_explode_director.loc[imdb_movies_cleaned_income_explode_director['director_list'].str.contains(director_select,na=False)].copy()
    print(filtered_final.shape)
    
    scatter_fig = px.scatter(filtered_final,
                       x='worldwide_gross_income', y='imdb_score',hover_name='original_title',
                       hover_data=['director_list'],
                       title='Ratings and worldwide_gross_income for movies for director {}'.format(director))
    return scatter_fig

In [ ]:
director = 'Steven Spielberg'
update_graph(director)

(31, 15)

# Create one dashboard where we can select these top 10 directors from a dropdown and plot the scatter plot of imdb_score and worldwide_gross_income of their movies based on the director selection

In [ ]:
# Create the Dash app
app = JupyterDash(__name__)

# Layout section of dashboard basically how the app would look like
app.layout = html.Div(children=[
    html.H1(children='Imdb score and Gross Income  Dashboard'),
    html.H2(children='Director'),
    dcc.Dropdown(
        id = 'Director-dropdown',
        options=[{'label':i,'value':i} for i in directors],
        value='All Top 10 Directors'
    ),dcc.Graph(id='income-imbdscore-graph')
]
)
# add interactivity to the code - basically create a scatter plot
# we will filter out movies based on their director 
# then for those movies we will make scatter plot of imdb_score and worldwide gross income
# Set up the callback function
@app.callback(
    Output(component_id='income-imbdscore-graph', component_property='figure'),
    [
     Input(component_id='Director-dropdown',component_property='value')
    ]
)
def update_graph(directors):    
    if directors == 'All Top 10 Directors':
      director_select = ''
    else:
      director_select = directors
    
    filtered_final = imdb_movies_cleaned_income_explode_director.loc[imdb_movies_cleaned_income_explode_director['director_list'].str.contains(director_select,na=False)]
    print(filtered_final.shape)
    
    scatter_fig = px.scatter(filtered_final,
                       x='worldwide_gross_income', y='imdb_score',hover_name='original_title',
                       hover_data=['director_list'],
                       title='Ratings and worldwide_gross_income for movies for director {}'.format(directors))
    return scatter_fig


# run the app
app.run_server(mode='inline')

# Create one dashboard where we can select these top 10 actors from a dropdown and plot the scatter plot of imdb_score and worldwide_gross_income of their movies based on the director selection

In [ ]:
# Create the Dash app
app = JupyterDash(__name__)

# Layout section of dashboard basically how the app would look like
app.layout = html.Div(children=[
    html.H1(children='Imdb score and Gross Income  Dashboard'),
    html.H2(children='Actor'),
    dcc.Dropdown(
        id = 'Actor-dropdown',
        options=[{'label':i,'value':i} for i in actors],
        value='All Top 10 Actors'
    ),dcc.Graph(id='income-imbdscore-graph')
]
)
# add interactivity to the code - basically create a scatter plot
# we will filter out movies based on their director 
# then for those movies we will make scatter plot of imdb_score and worldwide gross income
# Set up the callback function
@app.callback(
    Output(component_id='income-imbdscore-graph', component_property='figure'),
    [
     Input(component_id='Actor-dropdown',component_property='value')
    ]
)
def update_graph(actors):    
    if actors == 'All Top 10 Actors':
      actors_select = ''
    else:
      actors_select = actors
    
    filtered_final = imdb_movies_cleaned_income_explode_actor.loc[imdb_movies_cleaned_income_explode_actor['actors_list'].str.contains(actors_select,na=False)]
    print(filtered_final.shape)
    
    scatter_fig = px.scatter(filtered_final,
                       x='worldwide_gross_income', y='imdb_score',hover_name='original_title',
                       hover_data=['actors_list'],
                       title='Ratings and worldwide_gross_income for movies for actor {}'.format(actors))
    return scatter_fig


# run the app
app.run_server(mode='inline')